/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global styles */
body {
  font-family: 'Poppins', sans-serif;
  
}
/* styles/globals.css */
.svg-icon {
  transition: fill 0.3s;
  
}

.svg-icon:hover {
}
/* globals.css */
body {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f8fafc;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f8fafc;
}

body::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 10px;
  border: 3px solid #f8fafc;
}
.card {
  border-radius: 18px;
  border: 1px solid #FFF;
  background: #FBFBFB;
  box-shadow: 0px 104px 162px 0px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden; /* Ensure that the image doesn't overflow the card's borders */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 120px 182px 0px rgba(0, 0, 0, 0.18);
}


::selection {
  background-color: #2DA4B5;
  color: #ffffff;
}

.svg-green{
  background: #000;
}
.svg-gray{
  background-color: #976e6e;
}
.black-gradient{
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(0, 0, 0, 0.44) 100%);
}

.react-datepicker__header {
  background-color: #49919C;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
  background-color: #49919C;
}

.react-datepicker__day--keyboard-selected {
  background-color: #397780;
}

.react-datepicker__current-month, .react-datepicker-time__header {
  color: white;
}

.react-datepicker__day--today {
  border-color: #49919C;
}

.react-datepicker__day--outside-month {
  color: #d1d5db; /* Tailwind's gray-300 */
}
